<!DOCTYPE html>
{% load static %}
<html lang="en" style="height:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--<link rel="shortcut icon" href="img/favicon/logo.ico" type="image/x-icon">-->
    <link rel="shortcut icon" href= "{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Алисард- Строительство и проектирование КДК</title>

	<link href="{% static 'plugins/bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
	<link href="{% static 'fonts/OpenSans/OpenSans-Regular.ttf' %}" type="text/css">

	<link href="{% static 'fonts/OpenSansLight/OpenSansLight.ttf' %}" type="text/css">
	<link href="{% static 'fonts/Exo2Bold/Exo2Bold.ttf' %}" type="text/css">
	<link href="{% static 'fonts/OpenSansBold/OpenSansBold.ttf' %}" type="text/css">
	<link href="{% static 'fonts/OpenSansRegular/OpenSansRegular.ttf' %}" type="text/css">
	<link href="{% static 'fonts/OpenSansSemiBold/OpenSansSemiBold.ttf' %}" type="text/css">
	<link href="{% static 'fonts/RobotoMonoLight/RobotoMono-Light.ttf' %}" type="text/css">
    <link href="{% static 'fonts/Uni_Sans/Uni Sans Heavy.otf' %}" type="text/css">

	<link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>

    {% block css %}
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {% endblock css %}
</head>

<body style="position:relative; min-height:100%;">
    <div class="main-wrapper row">
        {% block content %} {% endblock content %}
    </div>

    <footer class="mayfooter">
        <div class="container">
            <div class="footermaik col-md-12" style="text-align: center">
                <nav class="footermenu">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Фотогалерея</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="textfoter col-md-8">
                <div class="col-sm-7">
                    <h5 class="optionfoot">КОНТАКТЫ ПИТЕР</h5>
                    <p class="textoption">214018, г. Смоленск ул. Ново-Рославльская, д. 3а 3 этаж, офис №11</p>
                    <p class="textoption">Пн-Пт: с 10:00 до 19:00</p>
                </div>
                <div class="col-sm-5 txtoption2">
                    <div class="contfoot">
                        <img class="imgfootinfo" src="{% static 'images/ico/vk-logo.ico' %}" style="width: 11%">
                        +7 (981) 155 66 55
                    </div>
                    <div class="contfoot">
                        <img class="imgfootinfo" src="{% static 'images/ico/14.ico' %}" style="width: 11%">
                        alisard@ali.com
                    </div>
                    <div class="contfoot">
                        <img class="imgfootinfo" src="{% static 'images/ico/14.ico' %}" style="width: 11%">
                        alisardkrk
                    </div>
                </div>
            </div>
            <div class="textfoter col-md-4">
                <h5 class="optionfoot">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</h5>
                <div class="footer-social">
                    <p>Присоединяйтесь к нам в социальных сетях:</p>
                    <div class="iconfootsocial">
                        <div class="socialiconvk">
                            <img src="{% static 'images/ico/vk-logo.ico' %}" width="64" height="60"
onmouseover="this.src='{% static 'images/ico/14.ico' %}'; this.width=64;this.height=60;"
onmouseout="this.src='{% static 'images/ico/vk-logo.ico' %}'; this.width=64;this.height=60;" /></p>
                        </div>
                        <div class="socialiconvk">
                            <img src="{% static 'images/ico/13.ico' %}" width="64" height="60"
onmouseover="this.src='{% static 'images/ico/14.ico' %}'; this.width=64;this.height=60;"
onmouseout="this.src='{% static 'images/ico/13.ico' %}'; this.width=64;this.height=60;" /></p>
                        </div>
                        <div class="socialiconvk">
                            <img src="{% static 'images/ico/13.ico' %}" width="64" height="60"
onmouseover="this.src='{% static 'images/ico/14.ico' %}'; this.width=64;this.height=60;"
onmouseout="this.src='{% static 'images/ico/13.ico' %}'; this.width=64;this.height=60;" /></p>
                        </div>
                        <div class="socialiconvk">
                            <img src="{% static 'images/ico/13.ico' %}" width="64" height="60"
onmouseover="this.src='{% static 'images/ico/14.ico' %}'; this.width=64;this.height=60;"
onmouseout="this.src='{% static 'images/ico/13.ico' %}'; this.width=64;this.height=60;" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footercopyright">
                        <p>©2018 ООО "АЛИСАРД". <br> Большепролетные деревянные конструкции</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

{% block scripts %}
    <script src="{% static 'js/jquery-1.11.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.3.7/js/bootstrap.js' %}"></script>

{% endblock scripts %}
    <script>
        if ($(document).height() <= $(window).height())
            $("footer.footer").addClass("navbar-fixed-bottom");
    </script>
</body>
</html>