<!DOCTYPE html>
{% load static %}
<html lang="en" style="height:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<!--<link rel="shortcut icon" href="img/favicon/logo.ico" type="image/x-icon">-->
    <link rel="shortcut icon" href= "{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Алисард- Строительство и проектирование КДК</title>

	<link href="{% static 'plugins/bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-3.3.7/css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">


	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
	<link href="{% static 'fonts/OpenSans/OpenSans-Regular.ttf' %}" type="text/css">

	<link href="{% static 'fonts/OpenSansLight/OpenSansLight.ttf' %}" type="text/css">
	<link href="{% static 'fonts/Exo2Bold/Exo2Bold.ttf' %}" type="text/css">
	<link href="{% static 'fonts/OpenSansBold/OpenSansBold.ttf' %}" type="text/css">
	<link href="{% static 'fonts/OpenSansRegular/OpenSansRegular.ttf' %}" type="text/css">
	<link href="{% static 'fonts/OpenSansSemiBold/OpenSansSemiBold.ttf' %}" type="text/css">
	<link href="{% static 'fonts/RobotoMonoLight/RobotoMono-Light.ttf' %}" type="text/css">
    <link href="{% static 'fonts/Uni_Sans/Uni Sans Heavy.otf' %}" type="text/css">


    {% block css %}
        <link href="{% static 'css/media.css' %}" rel="stylesheet">
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <link href="{% static 'css/menu.css' %}" rel="stylesheet">
    {% endblock css %}
</head>

<body style="position:relative; min-height:100%;">
    <div class="row" style="top:0px;"> <!--head-main -->
        <nav class="header-top ">
            <div class="top-info col-md-12">
                <div class="language col-md-1">
                    <a class="active" href="#">ru</a> / <a href="#">eng</a>
                </div>
                <div class="info-company-top">
                    <div class=" col-md-3">
                        <p><img src="{% static 'images/ico/clock_time.ico' %}">  ежедневно 09:00 - 21:00</p>
                    </div>
                    <div class=" col-md-2">
                        <p><img src="{% static 'images/ico/skype_icon.ico' %}">  alisard_kdk</p>
                    </div>
                     <div class=" col-md-3">
                        <p><img src="{% static 'images/ico/telegram_icon.ico' %}"> <img src="{% static 'images/ico/viber_14147.ico' %}">  <img src="{% static 'images/ico/whatsapp_icon.ico' %}"> +7 (981) 155 66 55</p>
                    </div>
                    <div class=" col-md-3">
                        <p><img src="{% static 'images/ico/email-outlined.ico' %}">  alisard@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="logo-block col-md-2">
                <a href="{% url 'main_page' %}"><img src="{% static 'images/logo.png' %}" ></a>
            </div>

            <div class="menu-top-mobil col-md-6">
                <nav class="main-nav header_menu">
                <div id="cssmenu">
                     <ul>
                         <li class='active has-sub'><a href="{% url 'about' %}">Компания</a>
                             <ul>
                                 <li><a href="{% url 'about' %}">О нас</a></li>
                                 <li><a href='#'>Прайс-лист</a></li>
                                 <li><a href='#'>Преимущества</a></li>
                             </ul>
                         </li>
                         <li class='active has-sub'><a href="{% url 'services' %}">Услуги</a>
                             <ul>
                                 <li><a href="#">Строительство КДК</a></li>
                                 <li><a href="#">Деревянные дома </a></li>
                        	     <li><a href="#">Ремонт и реконструкции </a></li>
                        	     <li><a href="#">Металлоконструкции </a></li>
                        	     <li><a href="#">Ландшафтный дизайн </a></li>
                             </ul>
                         </li>
                         <li class='active has-sub'><a href="{% url 'project' %}">Проекты</a>
                             <ul>
                                 <li><a href="{% url 'industrial_facilities' %}">Промышленные объекты</a></li>
                                    <li><a href="{% url 'industrial_facilities' %}">Спортивные сооружения</a></li>
                                    <li><a href="{% url 'industrial_facilities' %}">Сельскохозяйственные объекты</a></li>
                                    <li><a href="{% url 'industrial_facilities' %}">Логистичекие комплексы</a></li>
                                    <li><a href="{% url 'industrial_facilities' %}">Купольные конструкции</a></li>
                             </ul>
                         </li>
                         <li><a href="{% url 'news' %}">Новости</a></li>
                         <li><a href="{% url 'contacts' %}">Контакты</a></li>
                     </ul>
                    </div>
                </nav>
            </div>
        </nav>
        <div class="col-xs-4 col-md-4 phone">
{#            <p class="texts"><i class="fa fa-phone" aria-hidden="true"></i> +7 (981) 155 66 55</p>#}
            <div class="info">
                <div class="buttons">
                    <p><a href="" data-modal="#modal" class="modal__trigger">Заказать обратный звонок</a></p>
                </div>
            </div>
        </div>
        </div>



	        <!-- Modal -->
            <div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
                <div class="modal__dialog">
                    <div class="modal__content">
                        <h1>Modal</h1>
                        <p>Church-key American Apparel trust fund, cardigan mlkshk small batch Godard mustache pickled bespoke meh seitan. Wes Anderson farm-to-table vegan, kitsch Carles 8-bit gastropub paleo YOLO jean shorts health goth lo-fi. Normcore chambray locavore Banksy, YOLO meditation master cleanse readymade Bushwick.</p>

				<!-- modal close button -->
                        <a href="" class="modal__close demo-close">
                            <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg></a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-wrapper row">
        {% block content %} {% endblock content %}
    </div>

    <footer class="mayfooter">
        <div class="container top-footer">
            <div class="col-md-3">
                <div class="logo-foter">
                     <a href="{% url 'main_page' %}"><img src="{% static 'images/logo.png' %}"style="width:100px;"></a>
                </div>
                <div class="footer-text">
                    <p>Строительство и монтаж большепролетных деревянных конструкций</p>
                </div>
                <div class="social-icon">
                    <img src="{% static 'images/ico/telegram_icon.ico' %}">
                    <img src="{% static 'images/ico/viber_14147.ico' %}">
                    <img src="{% static 'images/ico/whatsapp_icon.ico' %}">
                    <img src="{% static 'images/ico/whatsapp_icon.ico' %}">
               </div>
            </div>
            <div class="info-footer col-md-4">
                <div class="phone-footer">
                    <p>+7 (981) 155 66 55</p>
                </div>
                <div class="adress-footer">
                    <p class="office">Наш офис</p>
                    <p>г. Москва, ул. Василисы Кожиной, вл. 19</p>
                </div>
                <div class="time-footer">
                    <p class="office">Время работы</p>
                    <p>Eжедневно 09:00 - 21:00</p>

                </div>
                       </div>

            <div class="col-md-5">
                <div class="news-company">
                    <p class="news-text">Новости компании</p>
                    <p class="news-font">Будте в курсе последних новостей от нашей компани</p>
                </div>

                <div class="box">
                    <form action="http://hackinout.us15.list-manage.com/subscribe/post-json?u=e44c1f194bec93e238615469e&amp;id=fa63cb4ac7&c=?"
                method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="petrov@example.com" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_e44c1f194bec93e238615469e_f6f826e769" tabindex="-1" value="">
                        </div>
                        <input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe" class="mc-button">
                        <div id="subscribe-result">

                        </div>
                    </form>
                </div>
            </div>
                   </div>
        <section class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                <nav class="footer-menu">
                    <ul>
                        <li><a href="{% url 'about' %}">Компания</a></li>
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
                     <div class="col-md-6 footercopyright">
                        <p>©2018 ООО "АЛИСАРД". <br> Большепролетные деревянные конструкции</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

{% block scripts %}
    <script src="{% static 'js/jquery-1.11.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.3.7/js/bootstrap.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.3.7/js/prefixfree.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/modal_phone.js' %}"></script>



{% endblock scripts %}
    <script>
        if ($(document).height() <= $(window).height())
            $("footer.footer").addClass("navbar-fixed-bottom");

$(document).ready(function () {
  var $form = $('#mc-embedded-subscribe-form')
  if ($form.length > 0) {
    $('form input[type="submit"]').bind('click', function (event) {
      if (event) event.preventDefault()
      register($form)
    })
  }
})

function register($form) {
  $('#mc-embedded-subscribe').val('Отправка...');
  $.ajax({
    type: $form.attr('method'),
    url: $form.attr('action'),
    data: $form.serialize(),
    cache: false,
    dataType: 'json',
    contentType: 'application/json; charset=utf-8',
    error: function (err) { alert('Ошибка! Пожалуйста, попробуйте снова.') },
    success: function (data) {
      $('#mc-embedded-subscribe').val('Подписаться')
      if (data.result === 'отправка') {
        // Yeahhhh Success
        console.log(data.msg)
        $('#mce-EMAIL').css('borderColor', '#ffffff')
        $('#subscribe-result').css('color', 'rgb(53, 114, 210)')
        $('#subscribe-result').html('<p>Спасибо за подписку на наши новости!. Мы отправили Вам подтверждение по электронной почте.</p>')
        $('#mce-EMAIL').val('')
      } else {
        // Something went wrong, do something to notify the user.
        console.log(data.msg)
        $('#mce-EMAIL').css('borderColor', '#ff8282')
        $('#subscribe-result').css('color', '#ff8282')
        $('#subscribe-result').html('<p>' + data.msg.substring(4) + '</p>')
      }
    }
  })
};
    </script>
</body>
</html>