{% extends 'index.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/screen.css' %}" rel="stylesheet">
     <link href="{% static 'css/media.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <div class="head-main row">
        <div class="container textcenter">
            <h1> Монтаж большепролетных конструкций и сооружений</h1>
{#            <h1> {{ page.header_text_ru | safe }}</h1>#}
        </div>
        <div class="col-md-12 info-company">
        <!--<div class="container">-->
            <div class="col-md-3 itempr">
                <img class="bvd" src="{% static 'images/ico/construction_project.ico' %}" style="width: 20%">
                <p><br>Высокое качество работы</p>
            </div>
            <div class="col-md-3 itempr">
                <img class="bvd" src="{% static 'images/ico/building_construction.ico' %}" style="width: 20%">
                <p><br>Опыт работы более 10 лет</p>
            </div>
            <div class="col-md-3 itempr">
                <img class="bvd" src="{% static 'images/ico/construction_project_plan.ico' %}" style="width: 20%">
                <p><br>Более 50-ти готовых объектов</p>
            </div>
            <div class="col-md-3 itempr">
                <img class="bvd" src="{% static 'images/ico/construction_project_plan_building.ico' %}" style="width: 20%">
                <p><br>Строгое соблюдение сроков</p>
            </div>
        <!--</div>-->
        </div><!-- info-company -->
    </div><!--head-main -->
<!--------------------Блок о компании-------------->
    <div class="col-md-12 aboutcompany">
        <h1 class=" gallery-title usl">Услуги</h1>
    </div>
    <section id="services" class="module">
        <div class="container">
            <div class="row multi-columns-row">
            <!-- ПРОЕКТИРОВАНИЕ -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="content-box">
                        <div class="content-box-icon">
                            <img src="{% static 'images/ico/construction_1.ico' %}" >
                        </div>
                        <h5 class="content-box-title font-alt">ПРОЕКТИРОВАНИЕ</h5>
                        <div class="content-box-text">
                        Предоставляем полный спектр услуг по проектированию и разработке большепролетных деревянных конструкций.
                        </div>
                    </div>
                </div>
            <!-- /ПРОЕКТИРОВАНИЕ -->

            <!-- СТРОИТЕЛЬСТВО -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="content-box">
                        <div class="content-box-icon">
                            <img src="{% static 'images/ico/work_building.ico' %}" >
                        </div>
                        <h5 class="content-box-title font-alt">СТРОИТЕЛЬСТВО</h5>
                        <div class="content-box-text">
                        Cтроительство деревянных конструкий позволяет возводить надежные и долговечные здания и сооружения.
                        </div>
                    </div>
                </div>
            <!-- /СТРОИТЕЛЬСТВО -->

            <!-- РЕКОНСТРУКЦИЯ -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <img src="{% static 'images/ico/work_building3.ico' %}" >
                    </div>
                    <h5 class="content-box-title font-alt">РЕКОНСТРУКЦИЯ</h5>
                    <div class="content-box-text">
                        Реконструкция износившихся зданий и сооружений с применением металлоконструкций с применением клеенных деревянных конструкций (КДК).
                    </div>
                </div>
            </div>
            <!-- /РЕКОНСТРУКЦИЯ -->

            <!-- ВЫСОКОЕ КАЧЕСТВО МАТЕРИАЛОВ -->
            <div class="col-md-12 aboutcompany">
        <h1 class=" gallery-title usl">Преимущества сотрудничества с нами</h1>
{#        <p style="text-align: center">Серьезное отношение к каждому из этапов работы</p>#}
    </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                         <img src="{% static 'images/ico/construction_project_plan_7.ico' %}" >
                    </div>
                    <h5 class="content-box-title font-alt">ВЫСОКОЕ КАЧЕСТВО МАТЕРИАЛОВ</h5>
                    <div class="content-box-text">
                        Высокое качество материалов и точность линейных размеров изделий. Это достигается благодаря высокому качеству используемых металлов.
                    </div>
                </div>
            </div>
            <!-- /ВЫСОКОЕ КАЧЕСТВО МАТЕРИАЛО -->

            <!-- ОПЕРАТИВНОСТЬ МОНТАЖА -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                         <img src="{% static 'images/ico/construction_project_6.ico' %}" >
                    </div>
                    <h5 class="content-box-title font-alt">ОПЕРАТИВНОСТЬ МОНТАЖА</h5>
                    <div class="content-box-text">
                         Строгое соблюдение всех сроков строительства при услувии выполнение заказчика всех пунктов договора.
                    </div>
                </div>
            </div>
            <!-- /ОПЕРАТИВНОСТЬ МОНТАЖА -->

            <!-- ДОВЕРИЕ СО СТОРОНЫ ЗАКАЗЧИКОВ -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                         <img src="{% static 'images/ico/construction_project_4.ico' %}" >
                    </div>
                    <h5 class="content-box-title font-alt">ДОВЕРИЕ СО СТОРОНЫ ЗАКАЗЧИКОВ</h5>
                    <div class="content-box-text">
                         Мы выполнили десятки проектов различной степени сложности по всей России. С проектами некоторых мы можете ознакомиться в разделе "проекты".
                    </div>
                </div>
            </div>
            <!-- /ДОВЕРИЕ СО СТОРОНЫ ЗАКАЗЧИКОВ -->

        </div>

    </div>

</section>
<!-- /Услуги-Преимущества -->
    </div>
</div>

<!--------------------Блок о компании-------------->
    <div class="gallarybac">
        <div class="container">
            <div class="row">
                <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutcompany">
                    <h1 class="gallery-title usl">Портфолио</h1>
                    <p class="projp">Большепролетные клееные деревянные конструкции</p>
                    <div align="center">
                        <button class="filter-button bntcd" data-filter="all">Все проекты</button>
                        <button class="filter-button bntcd" data-filter="hdpe">Спортивные сооружения</button>
                        <button class="filter-button bntcd" data-filter="sprinkle">Коммерческие проекты</button>
                        <button class="filter-button bntcd" data-filter="spray">Ледовые арены</button>
                        <button class="filter-button bntcd" data-filter="irrigation">Прочие</button>
                    </div>
                </div>
                <br/>
                <figure>
                    <ul class=" grid cs-style-4 gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <li>
                            <figure>
                                <div>
                                    <img src="{% static 'images/gallary/1.png' %}"class="img-responsive"></div>
                                <figcaption>
                                    <h3>Газпром Детям</h3>
                                    <span>Строительствово</span>
                                    <a href="http://dribbble.com/shots/1116775-Safari">Подробнее</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                    <ul class=" grid cs-style-4 gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                        <li>
                            <figure>
                                <div>
                                    <img src="{% static 'images/gallary/2.png' %}"class="img-responsive" ></div>
						        <figcaption>
							        <h3>Safari</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="http://dribbble.com/shots/1116775-Safari">Подробнее</a>
						        </figcaption>
					        </figure>
                        </li>
                    </ul>
                    <ul class=" grid cs-style-4 gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <li>
                            <figure>
                                <div>
                                    <img src="{% static 'images/gallary/3.png' %}"class="img-responsive"></div>
                                <figcaption>
                                    <h3>Safari</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="http://dribbble.com/shots/1116775-Safari">Подробнее</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                    <ul class=" grid cs-style-4 gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                        <li>
                            <figure>
                                <div><img src="{% static 'images/gallary/3.png/' %}"class="img-responsive"></div>
                                <figcaption>
                                    <h3>Safari</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="http://dribbble.com/shots/1116775-Safari">Подробнее</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                    <ul class=" grid cs-style-4 gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                        <li>
                            <figure>
                                <div><img src="{% static 'images/gallary/2.png' %}"class="img-responsive"></div>
                                <figcaption>
                                    <h3>Safari</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="http://dribbble.com/shots/1116775-Safari">Подробнее</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                    <ul class=" grid cs-style-4 gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <li>
                            <figure>
                                <div><img src="{% static 'images/gallary/1.png' %}"class="img-responsive"></div>
                                <figcaption>
                                    <h3>Safari</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="http://dribbble.com/shots/1116775-Safari">Подробнее</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </figure>
            </div>
        </div>
    </div>

<!--------------Блок быстрые новости------------------------->
    <div class="new">
        <div class="container">
            <div class="col-md-12" data-wow-delay="0.2s">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2">
                        </li>
                    </ol>
                    <div class="carousel-inner text-center">
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2 newrow">
                                        <p>Мы начали свою деятельность в 2008 году. За это время на рынке деревянного домостроения компания освоила новые технологии производства клееного бруса, обновила и усовершенствовала оборудование, приобрела эксклюзивных и надежных партнеров.</p>
                                        <small>Подробнее</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2 newrow">
                                        <p>Мы начали свою деятельность в 2008 году. За это время на рынке деревянного домостроения компания освоила новые технологии производства клееного бруса, обновила и усовершенствовала оборудование, приобрела эксклюзивных и надежных партнеров. </p>
                                        <small>Подробнее</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2 newrow">
                                        <p>Мы начали свою деятельность в 2008 году. За это время на рынке деревянного домостроения компания освоила новые технологии производства клееного бруса, обновила и усовершенствовала оборудование, приобрела эксклюзивных и надежных партнеров.</p>
                                        <small>Подробнее</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
<!--------партнеры---------------------------------------->
            <div class="aboutcompany">
                <h1 class="gallery-title usl">Партнеры</h1>
                <p class="projp">Мы дружелюбны. Присоединяйтесь!</p>
            </div>
            <div id="myCarousel" class="row carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="{% static 'images/partners/p1.jpg' %}" alt="...">
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="{% static 'images/partners/p2.jpg' %}" alt="...">
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="{% static 'images/partners/p3.jpg' %}" alt="...">
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="thumbnail">
                                    <img src="{% static 'images/partners/p4.jpg' %}" alt="...">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<!--------------------Галерея выполненных работ-------------->
{% endblock content %}
{% block scripts %}
    {{ block.super }}

    <script src="{% static 'js/modernizr.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/toucheffects.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $("figure").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
            );
        new WOW().init();
        $(document).ready(function() {
            $('.carousel').carousel();
            $(document).ready(function(){
                $(".filter-button").click(function(){
                    var value = $(this).attr('data-filter');
                    if(value == "all")
                    {
                        //$('.filter').removeClass('hidden');
                          $('.filter').show('1000');
                    }
                    else
                        {
                            //$('.filter[filter-item="'+value+'"]').removeClass('hidden');
                            //$(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                            $(".filter").not('.'+value).hide('3000');
                            $('.filter').filter('.'+value).show('3000');
                        }
                });
                if ($(".filter-button").removeClass("active")) {
                    $(this).removeClass("active");
                }
                $(this).addClass("active");
            });
        });
    </script>
{% endblock scripts %}