{% extends 'index.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/screen.css' %}" rel="stylesheet">
    <link href="{% static 'css/page.css' %}" rel="stylesheet">
    <link href="{% static 'css/news.css' %}" rel="stylesheet">

{% endblock css %}
{% block content %}
    <div class="img-main">
        <div class="jhtghj">
            <h3> Самые актуальные новости строительства</h3>
        </div>
    </div>

    <div class="bread">
        <ol class="breadcrumb">
            <li><a href="{% url 'main_page' %}">Главная</a></li>
            <li class="active" style="color: #2978ad;"><strong>Новости</strong></li>
        </ol>
    </div>

    <div class="news_gallery col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="img-carousel-news">
                        <img src="{% static 'images/DSC_0882.JPG' %}">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="img-carousel-news">
                        <img src="{% static 'images/DSC_0882.JPG' %}">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="img-carousel-news">
                        <img src="{% static 'images/DSC_0882.JPG' %}">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="img-carousel-news">
                        <img src="{% static 'images/DSC_0882.JPG' %}">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="img-carousel-news">
                        <img src="{% static 'images/DSC_0882.JPG' %}">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
            </div><!-- End Carousel Inner -->
            <ul class="list-group col-sm-4 heading-carousel">
                <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active">
                    <p>Применение деревянных конструкций рядом с химически агрессивной средой</p>
                </li>
                <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><p>Применение деревянных конструкций рядом с химически агрессивной средой</p></li>
                <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><p>Применение деревянных конструкций рядом с химически агрессивной средой</p></li>
                <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><p>Применение деревянных конструкций рядом с химически агрессивной средой</p></li>
                <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><p>Применение деревянных конструкций рядом с химически агрессивной средой</p></li>
            </ul>
        </div><!-- End Carousel -->
    </div>

        <div class="container">
            <div class="row">
                <div class="gallery  col-md-6 col-md-offset-3 aboutcompany">
                    <div align="center">
                        <button class="filter-button bntcd" data-filter="all">Методы строительства</button>
                        <button class="filter-button bntcd" data-filter="hdpe">Новости строительства</button>
                        <button class="filter-button bntcd" data-filter="sprinkle">Новости компании Алисард</button>
                        <button class="filter-button bntcd" data-filter="spray">Все новости строительства</button>
{#                        <button class="filter-button bntcd" data-filter="irrigation">Встречи, выставки</button>#}
                    </div>
                </div>
                    <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe gatjks">
                        <li>
                            <figure class="blok_news">
                                <img src="{% static 'images/DSC_0882.JPG' %}">
                                <div class="date"><span class="day">28</span><span class="month">Мая</span></div><i class="ion-film-marker"></i>
                                <figcaption>
                                    <h3>The World Ended Yesterday</h3>
                                    <p>
                                        I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                                    </p>
                                    <button>Подробнее</button>
                                </figcaption><a href="{% url 'news_about' %}"></a>
                            </figure>
                        </li>
                    </ul>
                </figure>
                <figure>
                    <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <li>
                            <figure class="blok_news">
                               <img src="{% static 'images/DSC_0882.JPG' %}">
                                <div class="date"><span class="day">13</span><span class="month">Мая</span></div><i class="ion-film-marker"></i>
                                <figcaption>
                                    <h3>The World Ended Yesterday</h3>
                                    <p>
                                        I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                                    </p>
                                    <button>Подробнее</button>
                                </figcaption><a href="#"></a>
                            </figure>
                        </li>
                    </ul>
                </figure>
                <figure>
                    <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <li>
                            <figure class="blok_news">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/>
                                <div class="date"><span class="day">28</span><span class="month">Мая</span></div><i class="ion-film-marker"></i>
                                <figcaption>
                                    <h3>The World Ended Yesterday</h3>
                                    <p>
                                        I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                                    </p>
                                    <button>Подробнее</button>
                                </figcaption><a href="#"></a>
                            </figure>
                        </li>
                    </ul>
                </figure>
                <figure>
                    <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                        <li>
                            <figure class="blok_news">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/>
                                <div class="date"><span class="day">28</span><span class="month">Ноя</span></div><i class="ion-film-marker"></i>
                                <figcaption>
                                    <h3>The World Ended Yesterday</h3>
                                    <p>
                                        I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                                    </p>
                                    <button>Подробнее</button>
                                </figcaption><a href="#"></a>
                            </figure>
                        </li>
                    </ul>
                </figure>
                <figure>
                    <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filterir rigation">
                        <li>
                            <figure class="blok_news">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/>
                                <div class="date"><span class="day">28</span><span class="month">Дек</span></div><i class="ion-film-marker"></i>
                                <figcaption>
                                    <h3>The World Ended Yesterday</h3>
                                    <p>
                                        I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                                    </p>
                                    <button>Подробнее</button>
                                </figcaption><a href="#"></a>
                            </figure>
                        </li>
                    </ul>
                </figure>
                <figure>
                    <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <li>
                            <figure class="blok_news">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/>
                                <div class="date"><span class="day">28</span><span class="month">Дек</span></div><i class="ion-film-marker"></i>
                                <figcaption>
                                    <h3>The World Ended Yesterday</h3>
                                    <p>
                                        I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                                    </p>
                                    <button>Подробнее</button>
                                </figcaption><a href="#"></a>
                            </figure>
                        </li>
                    </ul>
                </figure>
            </div>
        </div>


    <div class="container col-md-12  paginationposition">
        <ul class="pagination">
            <li class="disabled"><a href="#">Назад</a></li>
            <li class="active"><a href="#">1</a></li>
            <li ><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Вперёд</a></li>
        </ul>
    </div>

{% endblock content %}
{% block scripts %}
    {{ block.super }}

    <script src="{% static 'js/modernizr.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/toucheffects.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/button.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" type="text/javascript"></script>

    <script type="text/javascript">
               $("figure").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
            );
        new WOW().init();
        $(document).ready(function() {
            $('.carousel').carousel();
            $(document).ready(function(){
                $(".filter-button").click(function(){
                    var value = $(this).attr('data-filter');
                    if(value == "all")
                    {
                        //$('.filter').removeClass('hidden');
                          $('.filter').show('1000');
                    }
                    else
                        {
                            //$('.filter[filter-item="'+value+'"]').removeClass('hidden');
                            //$(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                            $(".filter").not('.'+value).hide('3000');
                            $('.filter').filter('.'+value).show('3000');
                        }
                });
                if ($(".filter-button").removeClass("active")) {
                    $(this).removeClass("active");
                }
                $(this).addClass("active");
            });
        });
        $(document).ready(function(){
            var clickEvent = false;
            $('#myCarousel').carousel({
                interval:   4000
            }).on('click', '.list-group li', function()
            {
                clickEvent = true;
                $('.list-group li').removeClass('active');
                $(this).addClass('active');
            }).on('slid.bs.carousel', function(e)
            {
                if(!clickEvent) {
                    var count = $('.list-group').children().length -1;
                    var current = $('.list-group li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if(count == id) {
                        $('.list-group li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });
        })
        $(window).load(function() {
            var boxheight = $('#myCarousel .carousel-inner').innerHeight();
            var itemlength = $('#myCarousel .item').length;
            var triggerheight = Math.round(boxheight/itemlength+1);
            $('#myCarousel .list-group-item').outerHeight(triggerheight);
        });
    </script>
{% endblock scripts %}