{% extends 'index.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/screen.css' %}" rel="stylesheet">
    <link href="{% static 'css/page.css' %}" rel="stylesheet">

{% endblock css %}
{% block content %}
    <div class="head-main row" style="top:0px;">
        <div class="col-md-2">
            <div class="logo-block">
                <a href="main_page.html"><img src="{% static 'images/logo.png' %}" style="width: 43%"></a>
            </div>
        </div>
        <nav class="menu col-md-6">
            <ul class="clearfix">
                <li><a href="#" class="mainmenuu">О компании <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu">
                        <li><a href="about">О нас</a></li>
                        <li><a href="news">Новости </a></li>
                        <li><a href="#">Партнеры</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </li>
                <li><a href="#">Проекты <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Объекты промышленного назначения</a></li>
                        <li><a href="#">Спортивные сооружения</a></li>
                        <li><a href="#">Сельскохозяйственные объекты</a></li>
                        <li><a href="#">Логистичекие комплексы</a></li>
                        <li><a href="#">Купольные конструкции</a></li>
                    </ul>
                </li>
                <li><a href="#">Услуги <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Строительство КДК</a></li>
                        <li><a href="#">Деревянные дома </a></li>
                        <li><a href="#">Ремонт и реконструкции </a></li>
                        <li><a href="#">Металлоконструкции </a></li>
                        <li><a href="#">Ландшафтный дизайн </a></li>
                    </ul>
                </li>
                <li><a href="#">Фотогалерея</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
        <div class="col-xs-6 col-md-4 phone">
            <p class="texts">+7 (981) 155 66 55</p>
            <p class="times">Пн-Пт: с 10:00 до 19:00</p>
            <p class="phon">Заказать обратный звонок</p>
        </div>
    </div>
    <div class="imgmain">
        <div class="jhtghj">
            <h3> Самые актуальные новости строительства</h3>
        </div>
    </div>
    <div class="bread">
        <ol class="breadcrumb">
            <li><a href="main_page.html">Главная</a></li>
            <li class="active" style="color: #333;"><strong>Новости</strong></li>
        </ol>
    </div>
    <div class="news_gallery col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="imgcarouselnews">
                        <img src="{% static 'images/DSC_0882.JPG' %}"  style="width: 850px; height: 400px">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="imgcarouselnews">
                        <img src="{% static 'images/DSC_0882.JPG' %}"  style="width: 850px; height: 400px">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="imgcarouselnews">
                        <img src="{% static 'images/DSC_0882.JPG' %}"  style="width: 850px; height: 400px">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="imgcarouselnews">
                        <img src="{% static 'images/DSC_0882.JPG' %}"  style="width: 850px; height: 400px">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="imgcarouselnews">
                        <img src="{% static 'images/DSC_0882.JPG' %}"  style="width: 850px; height: 400px">
                    </div>
                    <div class="carousel-caption">
                        <h4 class="carouseltxt"><a href="#">Опыт применения клееных деревянных конструкций в зданиях и  сооружениях с химически агрессивной средой</a></h4>
                    </div>
                </div><!-- End Item -->
            </div><!-- End Carousel Inner -->
            <ul class="list-group col-sm-4">
                <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Применение деревянных конструкций рядом с химически агрессивной средой</h4></li>
                <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>consetetur sadipscing elitr, sed diam nonumy eirmod</h4></li>
                <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>tempor invidunt ut labore et dolore</h4></li>
                <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>magna aliquyam erat, sed diam voluptua</h4></li>
                <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>tempor invidunt ut labore et dolore magna aliquyam erat</h4></li>
            </ul>
            <div class="carousel-controls">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div><!-- End Carousel -->
    </div>
    <div class="news-section">
        <div class="container col-md-12">
            <div class="col-md-3 news-column galletytxt" >
                <a href="news_about"><img class="img-responsive" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" title="name"></a>
                <h4><a class="news-btn" href="news_about">ФОК ГАЗПРОМ ДЕТЯМ</a></h4>
        	</div>
            <div class="col-md-3 news-column galletytxt" >
        		<img class="img-responsive" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" title="name">
                     <h4><a class="news-btn" href="#">ФОК ГАЗПРОМ ДЕТЯМ</a></h4>
        	</div>
            <div class="col-md-3 news-column galletytxt" >
                <img class="img-responsive" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" title="name">
                <h4><a class="news-btn" href="#">ФОК ГАЗПРОМ ДЕТЯМ</a></h4>
            </div>
            <div class="col-md-3 news-column galletytxt" >
                <img class="img-responsive" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" title="name">
                <h4><a class="news-btn" href="#">ФОК ГАЗПРОМ ДЕТЯМ</a></h4>
            </div>
            <div class="col-md-3 news-column galletytxt" >
                <img class="img-responsive" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" title="name">
                <h4><a class="news-btn" href="#">ФОК ГАЗПРОМ ДЕТЯМ</a></h4>
            </div>
            <div class="col-md-3 news-column galletytxt" >
                <img class="img-responsive" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" title="name">
                <h4><a class="news-btn" href="#">ФОК ГАЗПРОМ ДЕТЯМ</a></h4>
            </div>
            <div class="col-md-3 news-column galletytxt" >
                <img class="img-responsive" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" title="name">
                <h4><a class="news-btn" href="#">ФОК ГАЗПРОМ ДЕТЯМ</a></h4>
            </div>
            <div class="col-md-3 news-column galletytxt" >
                <img class="img-responsive" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" title="name">
                <h4><a class="news-btn" href="#">ФОК ГАЗПРОМ ДЕТЯМ</a></h4>
            </div>
        </div>
    </div>
    <div class="container col-md-12  paginationposition">
        <ul class="pagination">
            <li class="disabled"><a href="#">Назад</a></li>
            <li class="active"><a href="#">1</a></li>
            <li ><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Вперёд</a></li>
        </ul>
    </div>

{% endblock content %}
{% block scripts %}
    {{ block.super }}

    <script src="{% static 'js/modernizr.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/toucheffects.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/button.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var clickEvent = false;
            $('#myCarousel').carousel({
                interval:   4000
            }).on('click', '.list-group li', function()
            {
                clickEvent = true;
                $('.list-group li').removeClass('active');
                $(this).addClass('active');
            }).on('slid.bs.carousel', function(e)
            {
                if(!clickEvent) {
                    var count = $('.list-group').children().length -1;
                    var current = $('.list-group li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if(count == id) {
                        $('.list-group li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });
        })
        $(window).load(function() {
            var boxheight = $('#myCarousel .carousel-inner').innerHeight();
            var itemlength = $('#myCarousel .item').length;
            var triggerheight = Math.round(boxheight/itemlength+1);
            $('#myCarousel .list-group-item').outerHeight(triggerheight);
        });
    </script>
{% endblock scripts %}