{% extends 'index.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/screen.css' %}" rel="stylesheet">
    <link href="{% static 'css/page.css' %}" rel="stylesheet">

{% endblock css %}
{% block content %}
    <div class="img-main">
        <div class="jhtghj">
            <h3> Услуги компании</h3>
        </div>
    </div>

    <div class="bread">
        <ol class="breadcrumb">
            <li><a href="{% url 'main_page' %}">Главная</a></li>
            <li><a href="{% url 'main_page' %}">Услуги</a></li>
            <li class="active" style="color: #333;"><strong>Все услуги</strong></li>
        </ol>
    </div>

<section class="wrapper">
    <div class="container-fostrap">
        <div class="col-md-12 aboutcompany" style="text-align: center">
            <h1 class="usl">УСЛУГИ:</h1>
            <p style="text-align: center">Мы лучшие в своем деле</p>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="{% static 'images/1234.png' %}">
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> СТРОИТЕЛЬСТВО КДК
                                  </a>
                                </h4>
                                <p class="">
                                    (Клееные Деревянные Конструкции) специализируется на проектировании, строительстве большепролетных конструкций
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                            <img src="{% static 'images/home1.jpg' %}">
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> СТРОИТЕЛЬСТВО ДЕРЕВЯННЫХ ДОМОВ
                                  </a>
                                </h4>
                                <p class="">
                                    Строительство деревянных домов из бруса. Готовые проекты любой сложности!
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                                <img src="{% static 'images/remont.jpg' %}">
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="er-animation-effects-css3.html">РЕМОНТ И РЕКОНСТРУКЦИЯ</a>
                                </h4>
                                <p class="">
                                    Строительство деревянных домов из бруса. Готовые проекты любой сложности!
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                                <img src="{% static 'images/metallokonstrukcii.jpg' %}">
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">СТРОИТЕЛЬСТВО МЕТАЛЛОКОНСТРУКЦИЙ</a>
                                </h4>
                                <p class="">
                                    Строительство деревянных домов из бруса. Готовые проекты любой сложности!
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                                <img src="{% static 'images/BIM.jpg' %}">
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">ПРОЕКТИРОВАНИЕ ОБЪЕКТОВ</a>
                                </h4>
                                <p class="">
                                    Строительство деревянных домов из бруса. Готовые проекты любой сложности!
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                                        <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                                <img src="{% static 'images/346g.jpg' %}">
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="er-animation-effects-css3.html">ЛАНДШАФТНЫЙ ДИЗАЙН</a>
                                </h4>
                                <p class="">
                                    Строительство деревянных домов из бруса. Готовые проекты любой сложности!
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}
{% block scripts %}
    {{ block.super }}

    <script src="{% static 'js/modernizr.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/toucheffects.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/button.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var clickEvent = false;
            $('#myCarousel').carousel({
                interval:   4000
            }).on('click', '.list-group li', function()
            {
                clickEvent = true;
                $('.list-group li').removeClass('active');
                $(this).addClass('active');
            }).on('slid.bs.carousel', function(e)
            {
                if(!clickEvent) {
                    var count = $('.list-group').children().length -1;
                    var current = $('.list-group li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if(count == id) {
                        $('.list-group li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });
        })
        $(window).load(function() {
            var boxheight = $('#myCarousel .carousel-inner').innerHeight();
            var itemlength = $('#myCarousel .item').length;
            var triggerheight = Math.round(boxheight/itemlength+1);
            $('#myCarousel .list-group-item').outerHeight(triggerheight);
        });
    </script>
{% endblock scripts %}