.menu {
    margin:0px;
    margin-top: 35px;
    padding: 2px;
    float: left;
    width: 49%;
}
.menu li {
    margin:0px;
    font-family: 'Lato', sans-serif;
}

.menu a {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    transition:all linear 0.15s;
    color: #fff;
    font-size: 16px;

}
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#fff;
    background-color: #448e3b;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

.menu > ul > li {
    /*float:left;*/
    display:inline-block;
    position:relative;
    font-size:15px;
}
.menu > ul > li > a {
    padding:4px 15px;
    display:inline-block;
    /*text-shadow:0px 1px 0px rgba(0,0,0,0.4);*/
}
/*----- выпадающее меню -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:3;
}

.sub-menu {
    width:310px;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#333;
}
.sub-menu li {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    display:block;
    font-size:16px;
}
.sub-menu li a {
    padding: 2px 30px;
    display:block;
}
.clearfix{
   width: 150%;
   left:10%;
}
.logo-block{
    text-align: center;
    padding-top: 25px;
}
.logo-block img {
    width: 100px;
}
.phone{
    margin-top: 23px;
    text-align: right;
}
.texts{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.texts:hover {
    color: #ececec;
}
.times{
    text-decoration:none;
}

.times{
    color: #fff;
    margin-top: -0.8em;
}
.mayfooter{
    background-image: url('../images/fonfooter.jpg');
    bottom: 0;
    left: 0;
    right: 0;
    /*padding: 0 15px;*/
    position: absolute;
    margin-top: 50px;
    display: block;
}
/*.head-main{*/
    /*background-color: #334;*/
/*}*/
.main-wrapper{
    padding-bottom:300px; /* отступ снизу главного блока, на высоту футера */
    min-height: 100%;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
/*футер*/
.footermenu li a{
    display: inline-block;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    /*font-family: Lato, sans-serif;*/
    color:#8c8c8c;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding: 25px;
    text-align: center;
}
.footermenu a:hover{
    display: inline-block;
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding: 25px;
    text-align: center;
}
.optionfoot{
    color: #fff;
    font-size: 15px;
}
.textoption{
    color:#8c8c8c;
    font-size: 14px;
}
.txtoption2{
    padding-top: 30px;
    color:#8c8c8c;
    font-size: 14px;
}
.footer-social p {
     color:#8c8c8c;
    font-size: 14px;
}
.mayfooter ul{
    display: flex;
}
/*.mayfooter {*/
    /*position:absolute;*/
    /*bottom:0;*/
/*}*/
.iconfootsocial{
  /*width: 1310px;!*фиксируем ширину обертки*!*/
  margin: 0 auto;/*центрируем ее*/
  /*height: 120px;!*Задаем высоту обертки*!*/
}
.socialiconvk{
  float: left; /*Задаем обтекание*/
  margin-left: 2px;
  line-height: 70px;/*Высота строки +  верт. центрирования текста*/
  color: white;
  /*width: 70px; !*Фиксируем ширину блока*!*/
  margin-right: 4px;
  text-align: center; /*Центрируем текст по горизонтали*/
}
.iconfootsocial :last-child{
        margin-right: 0px;/*Убираем поле последнего div-а*/
}
/*.textcenter{*/
    /*opacity: 0;*/
/*}*/
/*кнопка обратный звонок*/
.phon{
    /*position: absolute;*/
    /*left: 75%;*/
    color:#fff;
    /*margin-top: 25px;*/
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
/*.textfoter{*/
    /*margin-left: 20%;*/
/*}*/
.aboutcompany{
    margin-top: 70px;
    margin-bottom: 30px;
}
.aboutcompany p{
    color: #696969;
    font-size: 14px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
.footercopyright{
    color: #A9A9A9;
}
.contfoot{
    color: #C0C0C0;
    /*font-weight: 700;*/
}