.item{
    position: relative;
}
.carousel-inner{
    width: 70%;
}
.list-group{
    position: relative;
    width: 30%;
}
.img-carousel-news{
    position: relative;
    width: 100%;
    height: 400px;
}
.img-carousel-news img{
    position: relative;
    width: 100%;
    height: 100%;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.img-carousel-news img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
 }
.heading-carousel p{
    font-size: 15px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    margin: 0 0 10px;
}
.filter-menu-news li a{
    display: inline-block;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    /*font-family: Lato, sans-serif;*/
    color:#4a4747;
    text-decoration: none;
    font-size: 15px;
    padding: 25px;
    text-align: center;
    font-weight: 400;
    line-height: .92;
    letter-spacing: -1px;
}
.filter-menu-news a:hover{
    color:#333;
    text-decoration: none;
    font-weight: 600;

}
