.had{
    background: #252d36;
    /*padding: 5px 0;*/
    margin-right: 0;
}
.language{
    color: #fff;
    font-size: 12px;
}
.adress{
    color: #fff;
    font-size: 13px;
}
.e-mail{
    padding-left: 3px;
}
.email li{
    color: #fff;
    font-size: 13px;
}
.m-line {
    background-color: #fff;
    background-color-opacity: .6;
    position: absolute;
    left: 0;
    margin-top: 45px;
}
li {
    display: inline-block;
}
.phone-w {
    color: #3c3939;
    font-family: 'Lato', sans-serif;
    padding-top: 8%;
    text-align: left;

}
.colortel{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 20px;
    margin-right: 20px;
}
.phone-w li{
    font-family: 'Lato', sans-serif;
     line-height: 100px;
}
.zakaz {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #448f3b;
  padding: 0.9em 4.5em;
  outline: none;
}
a.zakaz:hover {
    background: #326b2b;
    color: #fff;
    text-decoration: none;
} /* при наведении курсора мышки */
a.zakaz:active {
    color: #fff;
    background: #21461d;
    text-decoration: none;
} /* при нажатии */

.tellogo{
   margin-right: 10px;
 }
.callback{
    color: #6b6767;
 }
.main{
  width: 100%;
}

.sub-main{
  width: 30%;
  margin:22px;
  float: left;
}
.button-one,.button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}
/*Button One*/
.button-one {
  padding:20px 60px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}
.button-one:hover{
  background-color: #2ecc71;
}
.button-one:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
/*Button Two*/
.button-two {
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin: 16px -105px 0 100px;
}
.button-two {
    border-radius: 4px;
    background-color: #448f3b;
    border: none;
    padding: 4px;
    /* width: 200px; */
    transition: all 0.5s;
}
.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-two:hover span {
  padding-right: 25px;
}
.button-two:hover span:after {
  opacity: 1;
  right: 0;
}
.logo-block{
    padding-top: 25px;
}
.logo-block img {
    width: 100px;
}
.head-main{
    background-image: url("../images/1234.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*-moz-background-size: 100%;*/
    /*-webkit-background-size: 100%;*/
    /*-o-background-size: 100%;*/

}
.phone-number{
    margin-top: 15px;
    text-align: left;
}
/**************галерея продуктов**************/
.gallery-title {
    text-align: center;
}
.projp{
    text-align: center;
    color: #333;
    margin-top: 1%;
}
.gallery_product {
    margin-bottom: 30px;
}
/*** кнопки галереи***************************************/
.filter-button {
   	margin: 2% auto 0;
	padding: 8px 6px;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	/*letter-spacing: .08em;*/
}
.filter-button.bntcd {
	color: #182737;
	border: 2px solid #182737;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    color: #182737!important;
	background-color: transparent;
	text-shadow: none;
}
.filter-button.bntcd:hover {
	color: #448f3b!important;
	background-color: transparent;
	text-shadow: none;
    border: 2px solid #448f3b;
}
.filter-button.bntcd:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
.filter-button.bntcd:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	/*background: #448f3b;*/
	transition: all 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
/*******галерея продуктов***********/
.textb {
    font-size: 45px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-family: "Ubuntu Beta", "Bitstream Vera Sans", DejaVu Sans, Tahoma, sans-serif;
}
.tx{
margin-bottom: 70px;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #182737;
	color: #fff;
}
.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}
.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #448f3b;
	color: #fff;
}
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}
.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.cs-style-4 figure > div {
	overflow: hidden;
}
.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}
.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.usl{
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: .92;
    letter-spacing: -3px;
    margin: 0;
}
/*******************************************/
.ub-ur{

}
.new{
    background-image: url("../images/top.jpg");
    background-attachment: fixed;
}
#quote-carousel {
    padding: 0 10px 70px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    /*width: 15px;*/
    /*height: 15px;*/
    margin: 5px;
    cursor: pointer;
    border: 1px solid #448e3b;
    /*border-radius: 20px;*/
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    /*background: #333333;*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*border-radius:100px;*/
    border-color: #448e3b;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.newrow p{
    text-align: center;
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: -2px;
    margin: 0;
    color: #ffffff;
}
/**********************************************************/
ul.thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
  }

.control-box {
    width: 100%;
  }

@media (max-width: 767px) {
    .page-header { text-align: center; }
}
.my-row{
    margin-right: 0px;
}
.gallarybac{
    margin-top:8%;
    margin-bottom: 8%;
}
.paryners{
    margin-top:8%;
    margin-bottom: 3%;
}
/**************************************************************/
figure.snip0029 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #252d36;
}
figure.snip0029 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0029 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0029 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
figure.snip0029 figcaption h2 {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 20px 15px;
  position: absolute;
  font-size: 1em;
  bottom: 35%;
  right: 30px;
  left: 30px;
  /*word-spacing: -0.1em;*/
  /*font-weight: 300;*/
  /*text-transform: uppercase;*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  background-color: #182737;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
figure.snip0029 figcaption h2 span {
  font-weight: 800;
}
figure.snip0029 figcaption > div {
  background-color: #fff;
  position: absolute;
  left: 45px;
  right: 45px;
  bottom: 40px;
  text-align: center;
  padding: 5px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  -webkit-transform: translate(0, -40px);
  transform: translate(0, -40px);
}
figure.snip0029 figcaption > div i {
  font-size: 23px;
  padding: 6px;
  color: #000000;
  opacity: 0;
  position: relative;
  top: -50px;
  -webkit-transition: top 0.35s, opacity 0.35s;
  transition: top 0.35s, opacity 0.35s;
}
figure.snip0029 figcaption a {
  opacity: 0.8;
}
figure.snip0029 figcaption a:hover {
  opacity: 1;
}
figure.snip0029 figcaption::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  background-image: linear-gradient(to top, #000000 0%, transparent 50%, #000000 100%);
}
figure.snip0029:hover img,
figure.snip0029.hover img {
  opacity: 0.7;
}
figure.snip0029:hover figcaption h2,
figure.snip0029.hover figcaption h2 {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
figure.snip0029:hover figcaption > div,
figure.snip0029.hover figcaption > div {
  -webkit-transform: translate(0, -15px);
  transform: translate(0, -15px);
}
figure.snip0029:hover figcaption::before,
figure.snip0029.hover figcaption::before {
  opacity: 0.8;
}
figure.snip0029:hover figcaption i,
figure.snip0029.hover figcaption i {
  top: 0px;
  opacity: 0.7;
}
figure.snip0029:hover a:first-child i,
figure.snip0029.hover a:first-child i {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip0029:hover a:nth-child(2) i,
figure.snip0029.hover a:nth-child(2) i {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
figure.snip0029:hover a:nth-child(3) i,
figure.snip0029.hover a:nth-child(3) i {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.tetusl{
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.tetusl:hover {
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.info-company{
    background-color: #051421;
    /*background-attachment: fixed;*/
}
.itempr{
    color:#fff;
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
}
.company{
    margin-top: 75px;
    padding-bottom: 25px;
}
.bvd{
    float: left;
    padding-right: 5px;
}
.textcenter{
    margin-top: 140px;
    margin-bottom: 177px;
 }
.textcenter h1{
    color:#fff;
    text-align: center;
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: .92;
    letter-spacing: -3px;
    text-shadow: 1px 1px 2px black, 0 0 2em black;
}

/*страница всех услуг*/


.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

/*скачиваение файлов*/
.download-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.download-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  background: #fbfbfb;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 2em;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #dadada;
  margin: 0 1em 2em 1em;
}
@media (min-width: 700px) {
  .download-cards[data-view="grid-view"] .download-card {
    float: left;
    width: calc(50% - 2em);
  }
  .download-cards[data-view="grid-view"] .download-card:nth-child(3) {
    clear: both;
  }
  .download-cards[data-view="grid-view"] .download-card:nth-child(4) {
    clear: initial;
  }
}
@media (min-width: 1000px) {
  .download-cards[data-view="grid-view"] .download-card {
    width: calc( (100% / 3) - 2em);
  }
  .download-cards[data-view="grid-view"] .download-card:nth-child(3) {
    clear: initial;
  }
  .download-cards[data-view="grid-view"] .download-card:nth-child(4) {
    clear: both;
  }
}
.download-card__icon-box {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 2em;
  text-align: center;
}
@media (min-width: 700px) {
  .download-card__icon-box {
    justify-content: center;
  }
}
.download-card__icon-box img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .download-cards[data-view="list-view"] .download-card__icon-box {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid #e6e6e6;
  }
}
.download-card__content-box {
  padding: 2em 2em 3em;
  flex: 1;
}
@media (min-width: 700px) {
  .download-cards[data-view="list-view"] .download-card__content-box {
    padding-left: calc(200px + 2em);
  }
}
.download-card__content-box__catagory {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin: 0 0 2em;
}
.download-card__content-box__catagory::before {
  content: "| ";
  color: #ff4500;
}
.download-card__content-box__title {
  line-height: 1;
  margin: 0 0 0.5em;
  font-size: 18px;
}
.download-card__content-box__description {
  line-height: 1.5;
  padding: 0;
  margin: 0 0 1em;
  clear: both;
  color: #929292;
  font-size: 16px;
}
.download-card__content-box .button {
  position: absolute;
  bottom: 2em;
  margin: 0;
  color: #ff4500;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
}

.dc-view-switcher {
  display: none;
  margin: 1em;
  text-align: right;
}
@media (min-width: 700px) {
  .dc-view-switcher {
    display: block;
  }
}
.dc-view-switcher > button {
  font-family: "fontAwesome";
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  vertical-align: middle;
  color: gray;
  opacity: 0.3;
  outline: none;
  transition: opacity 0.4s ease;
}
.dc-view-switcher > button[data-trigger="list-view"]::before {
  content: "\f00b";
}
.dc-view-switcher > button[data-trigger="grid-view"]::before {
  content: "\f009";
}
.dc-view-switcher > button[data-trigger].active {
  opacity: 1;
}


/*КОНТАКТЫ*/

/*.section-header {*/
  /*text-align: center;*/
  /*margin: 0 auto;*/
  /*padding-top: 50px;*/
  /*margin-bottom: 50px;*/
  /*font: 300 60px 'Oswald', sans-serif;*/
  /*letter-spacing: 6px;*/
  /*color: #fff;*/
  /*margin-bottom: 25px;*/
/*}*/

/*.contact-wrapper {*/
  /*margin: 0 auto;*/
  /*padding-top: 20px;*/
  /*position: relative;*/
  /*max-width: 800px;*/
/*}*/

/*.form-horizontal {*/
  /*float: left;*/
  /*max-width: 400px;*/
  /*font-family: 'Lato';*/
  /*font-weight: 400;*/
/*}*/

/*.form-control, textarea {*/
  /*max-width: 400px;*/
  /*!*background-color: #111;*!*/
  /*color: #333;*/
  /*letter-spacing: 1px;*/
/*}*/

/*.send-button {*/
  /*margin-top: 15px;*/
  /*height: 34px;*/
  /*width: 400px;*/
  /*overflow: hidden;*/
  /*transition: all .2s ease-in-out;*/
/*}*/

/*.button {*/
  /*width: 400px;*/
  /*height: 34px;*/
  /*transition: all .2s ease-in-out;*/
/*}*/

/*.send-text {*/
  /*display: block;*/
  /*margin-top: 10px;*/
  /*font: 300 14px 'Lato', sans-serif;*/
  /*letter-spacing: 2px;*/
/*}*/

/*.button:hover {*/
  /*transform: translate3d(0px, -29px, 0px);*/
/*}*/

/*!* Begin Right Contact Page *!*/
/*.direct-contact-container {*/
  /*max-width: 400px;*/
  /*float: right;*/
  /*margin-top: 5px;*/
/*}*/

/*!* Location, Phone, Email Section *!*/
/*.contact-list {*/
  /*list-style-type: none;*/
  /*margin-left: -30px;*/
  /*padding-right: 20px;*/
/*}*/

/*.list-item {*/
  /*line-height: 4;*/
  /*color: #aaa;*/
/*}*/

/*.contact-text {*/
  /*font: 300 18px 'Lato', sans-serif;*/
  /*letter-spacing: 1.9px;*/
  /*color: #bbb;*/
/*}*/

/*.place {*/
  /*margin-left: 62px;*/
/*}*/

/*!*.phone {*!*/
  /*!*margin-left: 56px;*!*/
/*!*}*!*/

/*.gmail {*/
  /*margin-left: 53px;*/
/*}*/

/*.contact-text a {*/
  /*color: #bbb;*/
  /*text-decoration: none;*/
  /*transition-duration: 0.2s;*/
/*}*/

/*.contact-text a:hover {*/
  /*color: #fff;*/
  /*text-decoration: none;*/
/*}*/


/*!* Social Media Icons *!*/
/*.social-media-list {*/
  /*position: relative;*/
  /*font-size: 2.3rem;*/
  /*text-align: center;*/
  /*width: 100%;*/
/*}*/

/*.social-media-list li a {*/
  /*color: #fff;*/
/*}*/

/*.social-media-list li {*/
  /*position: relative;*/
  /*top: 0;*/
  /*left: -20px;*/
  /*display: inline-block;*/
  /*height: 70px;*/
  /*width: 70px;*/
  /*margin: 10px auto;*/
  /*line-height: 70px;*/
  /*border-radius: 50%;*/
  /*color: #fff;*/
  /*background-color: rgb(27,27,27);*/
  /*cursor: pointer;*/
  /*transition: all .2s ease-in-out;*/
/*}*/

/*.social-media-list li:after {*/
  /*content: '';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 70px;*/
  /*height: 70px;*/
  /*line-height: 70px;*/
  /*border-radius: 50%;*/
  /*opacity: 0;*/
  /*box-shadow: 0 0 0 1px #fff;*/
  /*transition: all .2s ease-in-out;*/
/*}*/

/*.social-media-list li:hover {*/
  /*background-color: #fff;*/
/*}*/

/*.social-media-list li:hover:after {*/
  /*opacity: 1;*/
  /*transform: scale(1.12);*/
  /*transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);*/
/*}*/

/*.social-media-list li:hover a {*/
  /*color: #111;*/
/*}*/

/*.copyright {*/
  /*font: 200 14px 'Oswald', sans-serif;*/
  /*color: #555;*/
  /*letter-spacing: 1px;*/
  /*text-align: center;*/
/*}*/

/*hr {*/
  /*border-color: rgba(255,255,255,.8); ;*/
/*}*/

/*!* Begin Media Queries*!*/
/*@media screen and (max-width: 760px) {*/
    /*#contact {*/
        /*height: 1000px;*/
    /*}*/
  /*.section-header {*/
    /*font-size: 65px;*/
  /*}*/
  /*.direct-contact-container, .form-horizontal {*/
    /*float: none;*/
    /*margin: 10px auto;*/
  /*}*/
  /*.direct-contact-container {*/
    /*margin-top: 60px;*/
    /*max-width: 300px;*/
  /*}*/
  /*.social-media-list li {*/
    /*height: 60px;*/
    /*width: 60px;*/
    /*line-height: 60px;*/
  /*}*/
  /*.social-media-list li:after {*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*line-height: 60px;*/
  /*}*/
/*}*/

/*@media screen and (max-width: 569px) {*/
  /*#contact {*/
    /*height: 1200px;*/
    /*}*/
  /*.section-header{*/
    /*font-size: 50px;*/
  /*}*/
  /*.direct-contact-container, .form-wrapper {*/
    /*float: none;*/
    /*margin: 0 auto;*/
  /*}*/
  /*.form-control, textarea {*/
    /*max-width: 340px;*/
    /*margin: 0 auto;*/
  /*}*/

  /*.name, .email, textarea {*/
    /*width: 280px;*/
  /*}*/
  /*.direct-contact-container {*/
    /*margin-top: 60px;*/
    /*max-width: 280px;*/
  /*}*/
  /*.social-media-list {*/
    /*left: 0;*/
  /*}*/
  /*.social-media-list li {*/
    /*height: 55px;*/
    /*width: 55px;*/
    /*line-height: 55px;*/
    /*font-size: 2rem;*/
  /*}*/
  /*.social-media-list li:after {*/
    /*width: 55px;*/
    /*height: 55px;*/
    /*line-height: 55px;*/
  /*}*/

/*}*/

/*@media screen and (max-width: 410px) {*/
  /*.send-button {*/
    /*width: 99%;*/
  /*}*/
/*}*/


input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.container {
	padding: 0 50px 70px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}
}