.had{
    background: #252d36;
    /*padding: 5px 0;*/
    margin-right: 0;
}
.language{
    color: #fff;
    font-size: 12px;
}
.adress{
    color: #fff;
    font-size: 13px;
}
.e-mail{
    padding-left: 3px;
}
.email li{
    color: #fff;
    font-size: 13px;
}
.m-line {
    background-color: #fff;
    background-color-opacity: .6;
    position: absolute;
    left: 0;
    margin-top: 45px;
}
li {
    display: inline-block;
}
.phone-w {
    color: #3c3939;
    font-family: 'Lato', sans-serif;
    padding-top: 8%;
    text-align: left;

}
.colortel{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 20px;
    margin-right: 20px;
}
.phone-w li{
    font-family: 'Lato', sans-serif;
     line-height: 100px;
}
.zakaz {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #448f3b;
  padding: 0.9em 4.5em;
  outline: none;
}
a.zakaz:hover {
    background: #326b2b;
    color: #fff;
    text-decoration: none;
} /* при наведении курсора мышки */
a.zakaz:active {
    color: #fff;
    background: #21461d;
    text-decoration: none;
} /* при нажатии */

.tellogo{
   margin-right: 10px;
 }
.callback{
    color: #6b6767;
 }
.main{
  width: 100%;
}

.sub-main{
  width: 30%;
  margin:22px;
  float: left;
}
.button-one,.button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}
/*Button One*/
.button-one {
  padding:20px 60px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}
.button-one:hover{
  background-color: #2ecc71;
}
.button-one:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
/*Button Two*/
.button-two {
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin: 16px -105px 0 100px;
}
.button-two {
    border-radius: 4px;
    background-color: #448f3b;
    border: none;
    padding: 4px;
    /* width: 200px; */
    transition: all 0.5s;
}
.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-two:hover span {
  padding-right: 25px;
}
.button-two:hover span:after {
  opacity: 1;
  right: 0;
}
.logo-block{
    padding-top: 25px;
}
.logo-block img {
    width: 100px;
}
.head-main{
    background-image: url("../images/1234.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*-moz-background-size: 100%;*/
    /*-webkit-background-size: 100%;*/
    /*-o-background-size: 100%;*/

}
.phone-number{
    /*margin-top: 15px;*/
    text-align: left;
}
/**************галерея продуктов**************/
.gallery-title {
    text-align: center;
}
.projp{
    text-align: center;
    color: #333;
    margin-top: 1%;
}
.gallery_product {
    margin-bottom: 30px;
}
/*** кнопки галереи***************************************/
.filter-button {
   	margin: 2% auto 0;
	padding: 10px 10px;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	/*letter-spacing: .08em;*/
}

.filter-button.bntcd {
	color: #2978ad;
	border: 1px solid #2978ad;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    color: #2978ad!important;
	background-color: transparent;
	text-shadow: none;
}

.filter-button.bntcd:hover {
	color: #fff !important;
	background-color: #1f60ad ;
	text-shadow: none;
    /*border: 2px solid #2978ad;*/
}
.filter-button.bntcd:active {
	color: #fff !important;
	background-color: #1f60ad ;
	text-shadow: none;
    /*border: 2px solid #2978ad;*/
}
.filter-button.bntcd:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
.filter-button.bntcd:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	/*background: #448f3b;*/
	transition: all 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
/*******галерея продуктов***********/
.textb {
    font-size: 45px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-family: "Ubuntu Beta", "Bitstream Vera Sans", DejaVu Sans, Tahoma, sans-serif;
}
.tx{
margin-bottom: 70px;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #182737;
	color: #fff;
}
.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}
.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #448f3b;
	color: #fff;
}
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}
.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.cs-style-4 figure > div {
	overflow: hidden;
}
.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}
.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.usl{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: .92;
    letter-spacing: 3px;
    margin: 0;
    color: #111;
}
/*******************************************/
.new{
    background-image: url("../images/top.jpg");
    background-attachment: fixed;
}
#quote-carousel {
    padding: 0 10px 70px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    /*width: 15px;*/
    /*height: 15px;*/
    margin: 5px;
    cursor: pointer;
    border: 1px solid #448e3b;
    /*border-radius: 20px;*/
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    /*background: #333333;*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*border-radius:100px;*/
    border-color: #448e3b;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.newrow p{
    text-align: center;
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 0;
    color: #ffffff;
}
/**********************************************************/
ul.thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
  }

.control-box {
    width: 100%;
  }

@media (max-width: 767px) {
    .page-header { text-align: center; }
}
.my-row{
    margin-right: 0px;
}
.gallarybac{
    margin-top:8%;
    margin-bottom: 8%;
}
.paryners{
    margin-top:8%;
    margin-bottom: 3%;
}
/**************************************************************/

.tetusl{
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.tetusl:hover {
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.info-company{
    background-color: #2978ad;
    /*background-attachment: fixed;*/
}
.itempr{
    color:#fff;
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
}
.company{
    margin-top: 75px;
    padding-bottom: 25px;
}
.bvd{
    float: left;
    padding-right: 5px;
}
.textcenter{
    margin-top: 140px;
    margin-bottom: 177px;
 }
.textcenter h1{
    color:#fff;
    text-align: center;
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: .92;
    letter-spacing: -3px;
    text-shadow: 1px 1px 2px black, 0 0 2em black;
}

/*страница всех услуг*/


.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

/*скачиваение файлов*/
.download-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.download-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  background: #fbfbfb;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 2em;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #dadada;
  margin: 0 1em 2em 1em;
}
@media (min-width: 700px) {
  .download-cards[data-view="grid-view"] .download-card {
    float: left;
    width: calc(50% - 2em);
  }
  .download-cards[data-view="grid-view"] .download-card:nth-child(3) {
    clear: both;
  }
  .download-cards[data-view="grid-view"] .download-card:nth-child(4) {
    clear: initial;
  }
}
@media (min-width: 1000px) {
  .download-cards[data-view="grid-view"] .download-card {
    width: calc( (100% / 3) - 2em);
  }
  .download-cards[data-view="grid-view"] .download-card:nth-child(3) {
    clear: initial;
  }
  .download-cards[data-view="grid-view"] .download-card:nth-child(4) {
    clear: both;
  }
}
.download-card__icon-box {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 2em;
  text-align: center;
}
@media (min-width: 700px) {
  .download-card__icon-box {
    justify-content: center;
  }
}
.download-card__icon-box img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .download-cards[data-view="list-view"] .download-card__icon-box {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid #e6e6e6;
  }
}
.download-card__content-box {
  padding: 2em 2em 3em;
  flex: 1;
}
@media (min-width: 700px) {
  .download-cards[data-view="list-view"] .download-card__content-box {
    padding-left: calc(200px + 2em);
  }
}
.download-card__content-box__catagory {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin: 0 0 2em;
}
.download-card__content-box__catagory::before {
  content: "| ";
  color: #ff4500;
}
.download-card__content-box__title {
  line-height: 1;
  margin: 0 0 0.5em;
  font-size: 18px;
}
.download-card__content-box__description {
  line-height: 1.5;
  padding: 0;
  margin: 0 0 1em;
  clear: both;
  color: #929292;
  font-size: 16px;
}
.download-card__content-box .button {
  position: absolute;
  bottom: 2em;
  margin: 0;
  color: #ff4500;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
}

.dc-view-switcher {
  display: none;
  margin: 1em;
  text-align: right;
}
@media (min-width: 700px) {
  .dc-view-switcher {
    display: block;
  }
}
.dc-view-switcher > button {
  font-family: "fontAwesome";
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  vertical-align: middle;
  color: gray;
  opacity: 0.3;
  outline: none;
  transition: opacity 0.4s ease;
}
.dc-view-switcher > button[data-trigger="list-view"]::before {
  content: "\f00b";
}
.dc-view-switcher > button[data-trigger="grid-view"]::before {
  content: "\f009";
}
.dc-view-switcher > button[data-trigger].active {
  opacity: 1;
}


/*КОНТАКТЫ*/




input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
/*.container {*/
	/*padding: 0 50px 70px;*/
/*}*/
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
/*.section2 .col2.column2 {*/
	/*padding: 0 30px;*/
/*}*/
.section2 span.collig {
	color: #333;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.sec2addr p{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    /* font-family: Lato, sans-serif; */
    color: #696969;
    font-size: 17px;
    font-weight: 400;
    line-height: .92;
    letter-spacing: -1px;
}
.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    margin: 7px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #2978ad;
    border-radius: 1px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;*/
    /*-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
/*}*/
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #2978ad;
    font-size: 14px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
    letter-spacing: 1px;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #696969;
    padding-bottom: 19px;
    color: #333;
}
.contact-phone{
    padding-left: 10px;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}
}

.contact-main {
    background: #f5f5f5;
}

.thumbnail {
    border: none;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #f7f7f7cd;
    border-radius: 1px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.caption h4{
    text-align: center;
}


/*****************************/

.map {
  max-width: 1300px;
  height: 380px;
  margin: calc(50vh - 190px) auto;
  box-shadow: 0 0 40px -10px black;
  background: rgb(240, 240, 240);
  font-family: 'Montserrat', sans-serif;
  max-width: calc(100vw - 60px)
}

#map {
  width: 65%;
  height: 380px;
  display: inline-block
}

.map-c {
  float: right;
  width: 35%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box
}

h1 {
  margin: 0;
  font-weight: normal;
  color: rgb(60, 60, 70);
  font-size: 28px
}

p {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 30px
}

.det {
  font-size: 12px;
  margin-bottom: 15px
}

i {
  float: left;
  font-size: 18px !important;
  margin: 0 8px 0 0
}

button {
  margin: 15px 4px;
  padding: 13px 9px;
  display: inline-block;
  cursor: pointer;
  background: none;
  color: #546973;
  border: 2px solid #78909C;
  transition: all 0.3s;
  border-radius: 1px;/*кнопка*/
  outline:0
}


button:hover {
  border-color: rgb(90, 90, 90);
  color: rgb(90, 90, 90)
}

button:after {
  display: block;
  font-size: 11px;
  margin-top: 8px
}

.fa-envelope:after {
  content:'Email';
  margin:8px 13px 0
}

@media only screen and (max-width: 720px) {
  .map {
    height: 450px;
    margin: calc(50vh - 225px) auto;
    overflow: hidden
  }
  #map {
    width: 100%;
    height: 200px;
  }
  .map-c {
    float: right;
    width: 100%;
  }
  button {
    float: right;
    margin-top: -75px
  }
}

@media only screen and (max-width: 460px) {
  p {
    display: none
  }
  h1 {
    margin-bottom:20px
  }
  button {
    float: none;
    margin-top: 10px
  }
  .det {
    margin-bottom: 9px
  }
}
/*ggggggggggggggggggggggggggg*/

/*.module {*/
    /*padding: 140px 0;*/
/*}*/

.module-title {
    font-size: 20px;
    letter-spacing: 10px;
    /*margin-bottom: 75px;*/
}

.font-alt {
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.font-inc {
    font-family: "Inconsolata", serif;
    text-transform: uppercase;
    text-align: center;
}

.content-box {
    margin: 25px auto;
}

.content-box-icon {
    font-size: 4rem;
    text-align: center;
}

.content-box-title {
    font-size: 1.5rem;
    letter-spacing: 5px;
    color: #111;
}

.content-box-text {
    color: #777;
}
/*видео*/
video{
    height: 400px;
}
